In [61]:
import pandas as pd

df = pd.read_csv("../data/raw/train.csv")

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 159564 entries, 0 to 159570
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   comment_text   159564 non-null  object
 1   toxic          159564 non-null  int64
 2   severe_toxic   159564 non-null  int64
 3   obscene        159564 non-null  int64
 4   threat         159564 non-null  int64
 5   insult         159564 non-null  int64
 6   identity_hate  159564 non-null  int64
dtypes: int64(6), object(1)
memory usage: 9.7+ MB

In [63]:
df.sample(5)

,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
73613,deletion nominationsthanks for supporting john...,0,0,0,0,0,0
118959,yes i am familiar with that but this situation...,0,0,0,0,0,0
1989,well change it then,0,0,0,0,0,0
11364,what do you mean exactly by trafficking on a s...,0,0,0,0,0,0
66974,galaune coi already referenced and expanded g...,0,0,0,0,0,0

In [46]:
df = df.drop(columns=['id'])

In [64]:
X = df["comment_text"]
y = df[["toxic",
        "severe_toxic",
        "obscene",
        "threat",
        "insult",
        "identity_hate"]]

In [66]:
print("Missing values before dropping:", df["comment_text"].isnull().sum())

# Drop rows with missing values in the "comment_text" column
df = df.dropna(subset=["comment_text"])

# Check for missing values again
print("Missing values after dropping:", df["comment_text"].isnull().sum())

Missing values before dropping: 7
Missing values after dropping: 0

In [48]:
import string

df['comment_text'] = df['comment_text'].apply(lambda x: ''.join([char for char in x if char in string.ascii_letters + ' ']))

In [49]:
df['comment_text'] = df['comment_text'].str.lower()

In [50]:
df['comment_text'] = df['comment_text'].str.strip().str.replace(' +', ' ')

In [67]:
df.to_csv("../data/raw/train.csv", index=False)